html {
  font-size: 60%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 138%;
  background-color: #f6f6ec;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.bayan {
  border-top: 0.1rem solid grey;
  color: #0259d9;
  cursor: pointer;
}

.bayan__input {
  display: none;
}

.bayan__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.bayan__content {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.bayan__img {
  width: 60%;
  margin: 0 auto;
}

.bayan__img img {
  width: 100%;
  height: 100%;
}

.btn img {
  height: 5rem;
}

.bayan__input:checked + .bayan__label .bayan__content {
  height: auto;
  padding: 1rem 0;
  cursor: pointer;
}

.bayan__input:checked + .bayan__label .bayan__top h2 {
  color: black;
}

.bayan__input:checked + .bayan__label .bayan__top .btn img {
  transform: rotate(45deg);
}

.bayan__input:hover + .bayan__label .bayan__content {
  height: auto;
  padding: 1rem 0;
  cursor: pointer;
}

.container:hover .bayan__input + .bayan__label .bayan__top h2 {
  color: black;
}

.bayan__input:hover + .bayan__label .bayan__top .btn img {
  transform: rotate(45deg);
}

.bayan__input + .bayan__label .bayan__top .btn img {
  display: none;
}

.container:hover .bayan__input + .bayan__label .bayan__top .btn img {
  display: block;
}

/* media queryes */

@media (max-width: 320px) {
  html {
    font-size: 40% !important;
  }

  .bayan,
  .bayan__top,
  .bayan__input:hover + .bayan__label .bayan__content {
    cursor: none;
  }

  .bayan__img {
    width: 80%;
  }
}

@media (max-width: 820px) {
  html {
    font-size: 50%;
  }

  .bayan,
  .bayan__top,
  .bayan__input:hover + .bayan__label .bayan__content {
    cursor: none;
  }

  .bayan__img {
    width: 80%;
  }
}

@media (max-width: 1920px) {
}
