html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 138%;
  background-color: #f6f6ec;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.bayan {
  border-top: 1px solid grey;
  color: #0259d9;
  cursor: pointer;
}

.bayan__input {
  display: none;
}

.bayan__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.bayan__content {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

/* .bayan__content {
  display: none;
  transition: 0.5s;
} */

.bayan__img {
  height: 200px;
  width: 50%;
  margin: 0 auto;
}

.bayan__img img {
  width: 100%;
  height: 100%;
}

.btn img {
  height: 50px;
}

/* .bayan__input:checked + .bayan__label + .bayan__content {
  height: auto;
  padding: 10px 0;
} */

.bayan__input:checked + .bayan__label .bayan__content {
  height: auto;
  padding: 10px 0;
  cursor: pointer;
}

.bayan__input:checked + .bayan__label .bayan__top .btn img {
  transform: rotate(45deg);
}

.bayan__input:hover + .bayan__label .bayan__content {
  height: auto;
  padding: 10px 0;
  cursor: pointer;
}

.bayan__input:hover + .bayan__label .bayan__top .btn img {
  transform: rotate(45deg);
}

.bayan__input + .bayan__label .bayan__top .btn img {
  display: none;
}

.container:hover .bayan__input + .bayan__label .bayan__top .btn img {
  display: block;
}
